@model IEnumerable<GuitarStore.Models.ViewModels.Shop.CategoryVM>

<h3>Categories</h3>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="/shop/Category/@item.Slug.ToLower()">@item.Name</a></li>
    }
</ul>

