

/*--------------------------CUSTOM STYLES-------------------------------*/

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 2px dashed #ccc;
}

div.new-cat {
    margin-top: 30px;
    position: relative;
}

span.ajax-text {
    display: none;
}

table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader {
    display: none;
}

span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

.ajaxcart {
    position: relative;
    top: 10px;
}

    .ajaxcart a {
        text-decoration: none;
        color: white;
    }

        .ajaxcart a:hover {
            color: #2c3e50;
        }

.ib {
    display: inline-block !important;
}

.adminarea {
    position: relative;
    top: 15px;
}

    .adminarea a {
        text-decoration: none;
        color: white;
    }

        .adminarea a:hover {
            color: #2c3e50;
        }

/*.bgImage {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(Img/musical-instruments.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
}*/
