/*PARALLAX*/
body, html {
    height: 100%;
}

.parallax {
    position: relative;
    background-image: url('Img/home-image.jpeg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------CUSTOM STYLES-------------------------------*/

div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 2px dashed #ccc;
}

div.new-cat {
    margin-top: 30px;
    position: relative;
}

span.ajax-text {
    display: none;
}

table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader {
    display: none;
}

span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

.ib {
    display: inline-block !important;
}

.ajaxcart {
    position: relative;
    top: 10px;
}

    .ajaxcart a {
        text-decoration: none;
        color: white;
    }

        .ajaxcart a:hover {
            color: #2c3e50;
        }

.adminarea a {
    text-decoration: none;
    color: white;
}

    .adminarea a:hover {
        color: #2c3e50;
    }

.navbar {
    margin-bottom: 0;
}

.searcharea {
    float: right;
    margin-right: 10px;
}


@media only screen and (min-width: 1024px) {
    .banner {
        position: relative;
    }

    .searcharea {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
