<br />
@{
    ViewBag.Title = "Dashboard";
}
<p class="alert alert-info text-center">This is admin area where you can perform CRUD(create,read,update,delete) functionality and manage website content.</p>
<img src="~/Content/Img/dashboard-image.jpg" style="max-width:100%;" />

