
@{
    ViewBag.Title = "Dashboard";
}
<p class="alert alert-info text-center">This is admin area which have its own CMS and where you can perform CRUD functionality. </p>
<img src="~/Content/Img/dashboard-image.jpg" style="max-width:100%;height:auto;" />

