@model GuitarStore.Models.ViewModels.Account.UserNavPartialVM

@if (Model.FirstName == "Guest" || Model.LastName == "Guest")
{
    <a href="/account/user-profile">(@Model.FirstName)</a>
}
else
{
    <a href="/account/user-profile">(@Model.FirstName @Model.LastName)</a>
}